
body {
    background-color: #D9D9D9;
}

.container, .card, .footer {
    background-color: #B3B3B3;
}

.custom-carousel {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-carousel img {
    border-radius: 10px;
}